<!DOCTYPE html>
<html>
<head>
    <title>Firebase login</title>
    <link type="text/css" href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"/>
    <script type="module" src="{{ url_for('static', path='/firebase-login.js') }}"></script>
</head>
<body>
    <div id="login-box" {% if not user_token %}hidden{% endif %}>
        Email: <input type="email" name="" id="email"><br>
        Password: <input type="password" name="" id="password"><br>
        <button id="login">Login</button>
        <button id="sign-up">Sign Up</button>
    </div>
    <button id="sign-out" {% if not user_token %}hidden{% endif %}>Sign Out</button>
    
    {% if user_token %}
        <p>User email: {{ user_token.email }}</p>
        <p>Error message: {{ error_message }}</p>
        <a href="/add_ev_page">Add EV</a> <!-- Link to the page for adding EV -->
    {% endif %}
</body>
</html>
